.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #eee;
  max-width: 250px;
}

.deleteBtn {
  background-color: red;
  color: white;
  border: none;
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  padding: 2px;
  margin-left: 15px;
}
